<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/assets/stylesheets/style.css'>
    <script src="../public/js/javaScript.js"></script>
</head>
<body>

    <header>
        <div class="info-header">
            <p>DO DIA <span>02 AO 07 DE AGOSTO</span></p>
        </div>
    </header>

    <main>
        <div class="infos-main1">
            <div class="imagem">
                <img src="../public/image/img2.PNG">
            </div>
            <div class="texto-form">
                <img src="../public/image/LOGO-SEMANA-DAS-MILHAS.png.webp">
                <div class="texto">
                    <p>Descubra como você pode pôr no bolso <strong id="s0">R$ 1.000 de</strong><br><strong id="s1">puro lucro para cada 
                        R$ 5.000 de limite</strong> do seu <br>cartão de crédito</p>
                </div>
                <span>SEM GASTAR MAIS OU TRABALHAR PRA ISSO</span>

                <div class="formulario">
                    <p>E-mail*</p>
                    <input type="text" id="email">
                </div>

                <button>APERTE AQUI PARA SE INSCREVER<BR>GRATUITAMENTE!</button>

            </div>
        </div>
    </main>

    <footer>
        <P id="p0">© 2022 - Norton Reveno</P>
        <p id="p00">TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    
</body>
</html>